<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gzt.mtt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/mtt"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".View.Login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Welcome.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Daily.DailyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.AirQuality.AirQualityActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Daily.PhotoActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".View.Daily.DailyUploadActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>